/* CSS Document */



/*
a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
	list-style-type:square;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #f60;
	background-color: #999;
}
	
a:active {
	color: #666;
}

a.link {
	color:#FFF;
	display:block;
	width:318px;
	padding:3px;
	background-color:#6789A0;
	text-align:left;
	text-indent: 20px;
	background-image: url(punkt.gif);
	background-position: 10px 9px;
	background-repeat: no-repeat;
	margin-top: 1px;
	margin-right: 0;
	margin-bottom: 1px;
	margin-left: 0;
}

a.link:hover {
	color:#fff;
	background-color:#51768F;
	background-image: url(punkt.gif);
	background-position: 10px -13px;
	margin: 1px 0;
}

a.link_orange {
	color:#fff;
	display:block;
	width:316px;
	padding:3px;
	background-color:#BD5122;
	text-align:left;
	text-indent: 20px;
	background-image: url(punkt.gif);
	background-repeat: no-repeat;
	background-position: 10px 9px;
	margin: 1px 0;
}

a.link_orange:hover {
	color:#fff;
	background-color:#C26721
}
.aktiv_link {
	display:block;
	color:#FFF;
	text-indent: 20px;
	width:318px;
	padding:3px;
	background-color:#51768F;
	background-image: url(punkt.gif);
	background-position: 10px -13px;
	background-repeat: no-repeat;
	margin: 1px 0;
}
*/

#slider {
	width: 738px; /* important to be same as image width */
	height: 310px; /* important to be same as image height */
	position: relative; /* important */
	overflow: hidden; /* important */
	text-align:left;
	font-size:0.7em; 
}
	
* html #sliderContent {
		margin-left: 0px;
}
html > body #sliderContent {
	width: 738px;
	height: 310px;
	top: 0;
margin-left: -40px;
}

.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 2px 13px 7px 20px;
    width: 704px;
    background-color:#666666;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
	text-align:right;
}
.clear {
	clear: both;
}
.sliderImage span strong {
	font-size: 12px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}
/*---------------------------------------------------------------end slider-------------------------------*/
